body {
     background-color: #ece5ff;
     margin: 0;
}

#img-banner {
     height: 100vh;
     background: url('cherry-blossoms.gif') no-repeat top;
     background-size: cover;
     background-attachment: fixed;
}

.transbox {
     margin: 30px;
     background-color: #ffffff;
     border: 1px solid black;
     opacity: 0.6;
     filter: alpha(opacity=60);
}

h1 {
     font-family: 'K2D', sans-serif;
     color: #ffffff;
     font-weight: bold;
     width: 80%;
     height: 50px;
     --padding: 10px;
     background-color: grey;
     float: left;
     padding: var(--padding);
     border: 2px solid red;
     background-clip: content-box;
     box-shadow: inset 0 0 0 var(--padding) lightGreen;
}
 
.title {
     font-family: 'K2D', sans-serif;
     text-align: center;
}

.hearts {
     text-align: center;
}
 .bio {
     font-family: 'K2D', sans-serif;
}
 .social-btn {
     font-family: 'K2D', sans-serif;
     text-transform: uppercase;
     font-size: 16px;
     border: 5px solid black;
     display: inline-block;
     padding: 20px;
}
 
